.icon{
	width: 20px;
	height: 20px;
	display:inline-block;
	background-size: cover;
	
}
.icon-close{
	background-image: url(../img/icon-close.png);
	width: 20px;
	height: 20px;
	display:inline-block;
	background-size: cover;
	
}

